.App {
  text-align: center;
  height: 600px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'nanumsquare';
  box-sizing: border-box;
  min-height: 100%;
}

#root {
  min-height: 100%;
}

html{
  height: 100%;
}

a{
  text-decoration: none;
}

.footer{
  width: 100%;
  float:left;
  margin-top: 3%;
  margin-left: 33%;
}

.footerDiv1{
  width: 600px;
  height: 20px;
}

.footerDiv1 p{
  float:left;
  color: #8e8e8e;
  max-width: 100px;
  margin: 0 12px 0 0;
  font-size: 12px;
}

.footerDiv2{
  width: 600px;
  height: 20px;
  margin: 0 0 0 70px;
}

.footerDiv2 p{
  float:left;
  color: #8e8e8e;
  max-width: 100px;
  margin: 0 12px 0 0;
  font-size: 12px;
}

.footerDiv3{
  width: 600px;
  height: 20px;
  margin: 10px 0 60px 150px;
}

.footerDiv3 p{
  float:left;
  color: #8e8e8e;
  max-width: 200px;
  margin: 0 12px 0 0;
  font-size: 12px;
}